<div class="container">
  <div class="card bg-faded">
  <div class="card-block" style="padding:20px;">

    <h1 class="display-4">MEAN AUTHENTICATION APP</h1>
  <p class="lead">This is a simple authentication app, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p></p>
    <div class="row">
      <div style="width:80px; padding:10px;"><a class="btn btn-primary" [routerLink]="['/login']" role="button">LOGIN</a></div>
      <div style="width:80px; padding:10px;"><a class="btn btn-primary"  [routerLink]="['/register']" role="button">REGISTER</a></div>
   </div>

  </div>
</div>
